// SPDX-License-Identifier: GPL-2.0-only
/*
* Copyright (C) 2012 Texas Instruments Incorporated - https://www.ti.com/
*/

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/am33xx.h>

&{/chosen} {
    overlays {
        BB-BONE-AUDI-02-00A0.bb.org-overlays = __TIMESTAMP__;
    };
};

&{/} {
    clk_mcasp0_fixed: clk_mcasp0_fixed {
        #clock-cells = <0>;
        compatible = "fixed-clock";
        clock-frequency = <24576000>;
    };

    clk_mcasp0: clk_mcasp0 {
        #clock-cells = <0>;
        compatible = "gpio-gate-clock";
        clocks = <&clk_mcasp0_fixed>;
        enable-gpios = <&gpio1 27 0>; /* BeagleBone Black Clk enable on GPIO1_27 */
    };
};

&am33xx_pinmux {
    bone_audio_cape_audio_pins: pinmux_bone_audio_cape_audio_pins {
        pinctrl-single,pins = <
                AM33XX_IOPAD(0x990, PIN_INPUT_PULLDOWN | MUX_MODE0)	/* mcasp0_aclkx.mcasp0_aclkx */
                AM33XX_IOPAD(0x994, PIN_INPUT_PULLDOWN | MUX_MODE0)	/* mcasp0_fsx.mcasp0_fsx, INPUT */
                AM33XX_IOPAD(0x998, PIN_INPUT_PULLDOWN | MUX_MODE0)	/* mcasp0_axr0.mcasp0_axr0 */
                AM33XX_IOPAD(0x99c, PIN_INPUT_PULLDOWN | MUX_MODE2)	/* mcasp0_ahclkr.mcasp0_axr2 */
                AM33XX_IOPAD(0x9ac, PIN_INPUT_PULLDOWN | MUX_MODE0)	/* MCASP0_AHCLKX -> MCASP0_AHCLKX (I2S_MCLK_OUT)- in */
                AM33XX_IOPAD(0x86c, PIN_OUTPUT_PULLDOWN | MUX_MODE7)	/* gpmc_a11.GPIO1_27 */
                AM33XX_IOPAD(0x9a4, PIN_OUTPUT_PULLDOWN | MUX_MODE3)	/* mcasp0_fsr.mcasp0_axr3 - For ES9080Q */
        >;
    };
};

&ocp {
    P9_25_pinmux { status = "disabled"; };	/* mcasp0_ahclkx */
    P9_28_pinmux { status = "disabled"; };	/* mcasp0_axr2 */
    P9_29_pinmux { status = "disabled"; };	/* mcasp0_fsx */
    P9_30_pinmux { status = "disabled"; };	/* mcasp0_axr0 */
    P9_31_pinmux { status = "disabled"; };	/* mcasp0_aclkx */
    P8_33_pinmux { status = "disabled"; };	/* mcasp0_axr3 - For ES9080Q */
};

&i2c2 {
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";

    tlv320aic3104: tlv320aic3104@18 {
        #sound-dai-cells = <0>;
        compatible = "ti,tlv320aic3104";
        reg = <0x18>;
        status = "okay";
    };

    es9080q: codec@48 {
        #sound-dai-cells = <0>;
        compatible = "ess,es9080q";
        reg = <0x48>;
        write-only-addr = <0x4C>;
        reset-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};

&mcasp0 {
    #sound-dai-cells = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&bone_audio_cape_audio_pins>;
    status = "okay";
    op-mode = <0>;          /* MCASP_IIS_MODE */
    tdm-slots = <16>;
    num-serializer = <16>;
    serial-dir = <	/* 0: INACTIVE, 1: TX, 2: RX */
        2 0 1 0
        0 0 0 0
        0 0 0 0
        0 0 0 0
    >;
    tx-num-evt = <32>;
    rx-num-evt = <32>;
};

&{/} {
    sound {
        compatible = "bela,audio-cape";
        model = "Bela Audio Cape";

        /* CPU DAI */
        cpu-dai = <&mcasp0>;

        /* Codec DAIs */
        aic3104-codec = <&tlv320aic3104>;
        es9080q-codec = <&es9080q>;

        /* Clock */
        clocks = <&clk_mcasp0>;
        clock-names = "mclk";

        status = "okay";
    };
};